* {
  margin: 0;
  padding: 0; }

body {
  color: #000000;
  font-family: 'Montserrat', sans-serif; }

a {
  color: #222222; }

a:hover {
  font-weight: 600; }

a:focus {
  font-weight: 600;
  color: #222222; }

h2 {
  margin-bottom: 10px; }

p {
  margin-bottom: 10px; }

.gradient-bg {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7); }

.hidden {
  display: none !important; }

.share-popup {
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  transition: all 0.5ms linear;
  z-index: 2;
  background-color: #ffffff; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-5 {
  flex: 5; }

.content-container-grid {
  display: grid;
  grid-template-columns: calc(50%  - 15px) calc(50% - 15px);
  grid-template-rows: 5%  45% 30%  20%;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  margin-bottom: 20px; }
  @media (max-width: 576px) {
    .content-container-grid {
      display: grid;
      grid-template-columns: calc(100% - 30px);
      grid-template-rows: 10% 50% auto auto auto;
      grid-row-gap: 20px;
      grid-column-gap: 0; } }

.page-title {
  grid-column: 1 / 3;
  grid-row-start: 1; }
  @media (max-width: 576px) {
    .page-title {
      grid-column: 1 / 3;
      grid-row-start: 1; } }

.form {
  grid-column: 1 / 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px; }
  .form-input {
    box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px; }
  @media (max-width: 991px) {
    .form {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto auto;
      grid-row-gap: 10px;
      grid-column-gap: 10px; } }
  @media (max-width: 576px) {
    .form {
      grid-column: 1 / 3;
      grid-row-start: 3; } }

.name {
  grid-column: 1 / 2;
  grid-row-start: 1; }
  @media (max-width: 991px) {
    .name {
      grid-column: 1 / 3;
      grid-row-start: 1; } }

.surname {
  grid-column: 2 / 3;
  grid-row-start: 1; }
  @media (max-width: 991px) {
    .surname {
      grid-column: 1 / 3;
      grid-row-start: 2; } }

.email {
  grid-column: 1 / 2;
  grid-row-start: 2; }
  @media (max-width: 991px) {
    .email {
      grid-column: 1 / 3;
      grid-row-start: 3; } }

.phone {
  grid-column: 2 / 3;
  grid-row-start: 2; }
  @media (max-width: 991px) {
    .phone {
      grid-column: 1 / 3;
      grid-row-start: 4; } }

.message {
  grid-column: 1 / 3;
  grid-row-start: 3;
  resize: none; }
  @media (max-width: 991px) {
    .message {
      grid-column: 1 / 3;
      grid-row: 5;
      resize: none; } }

.send {
  grid-column: 1 / 3;
  grid-row-start: 4;
  -webkit-appearance: none;
  box-shadow: none;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 10px; }
  @media (max-width: 991px) {
    .send {
      grid-column: 1 / 3;
      grid-row-start: 6; } }

.map {
  grid-column: 2 / 3;
  grid-row-start: 2; }
  .map img {
    width: 100%;
    height: 100%; }
  @media (max-width: 576px) {
    .map {
      grid-column: 1 / 3;
      grid-row-start: 2; } }

.info {
  grid-column: 1 / 3;
  grid-row-start: 3; }
  @media (max-width: 576px) {
    .info {
      grid-column: 1 / 3;
      grid-row-start: 4; } }

.address {
  grid-column: 1 / 2;
  grid-row-start: 4; }
  @media (max-width: 576px) {
    .address {
      grid-column: 1 / 3;
      grid-row-start: 5; } }

.about {
  grid-column: 2 / 3;
  grid-row-start: 4; }
  @media (max-width: 576px) {
    .about {
      grid-column: 1 / 3;
      grid-row-start: 6; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 30px; }

.logo {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  overflow: hidden; }

.navbar ul {
  list-style: none;
  display: flex; }
  @media (max-width: 576px) {
    .navbar ul {
      flex-direction: column; } }
  .navbar ul li {
    padding: 0 10px; }
    @media (max-width: 576px) {
      .navbar ul li {
        margin-bottom: 5px; } }
    .navbar ul li a {
      text-decoration: none;
      color: gray; }
      .navbar ul li a:hover {
        color: #222222;
        font-weight: 600; }
      .navbar ul li a.active {
        font-weight: 600;
        padding: 0 15px; }
        @media (max-width: 576px) {
          .navbar ul li a.active {
            padding: 0; } }

.burger {
  cursor: pointer; }
  .burger .burger-line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin-bottom: 6px; }
  .burger div:last-of-type {
    margin: 0; }

.sidebar {
  position: fixed;
  background-color: white;
  right: -190px;
  top: 100px;
  width: 200px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  @media (max-width: 576px) {
    .sidebar {
      right: -195px; } }
  .sidebar:hover {
    right: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .sidebar-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; }
  .sidebar-label {
    margin-bottom: 5px; }
  .sidebar .sidebar select,
  .sidebar .sidebar input {
    padding: 5px 10px 5px 5px; }
  @supports not (-ms-ime-align: auto) {
    .sidebar .sidebar:focus-within {
      right: 10px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); } }

.content-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 30px;
  min-height: 100%;
  box-sizing: border-box; }

.page-title {
  text-align: center;
  margin-bottom: 30px; }

.card {
  flex: 1 0 calc(25% - 30px);
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }
  .card-container {
    display: flex;
    flex-wrap: wrap; }
  .card-content {
    flex-grow: 1;
    padding: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column; }
  .card-img {
    width: 100%;
    height: 250px;
    margin-bottom: 15px; }
    @media (max-width: 576px) {
      .card-img {
        width: 100%;
        height: auto; } }
  .card-title {
    margin-bottom: 5px; }
  .card-date {
    margin-bottom: 15px;
    display: block; }
  .card-excerpt {
    margin-bottom: 30px;
    font-size: 14px;
    flex-grow: 1; }
  .card-link {
    text-decoration: none;
    margin-bottom: auto; }
  .card:first-child {
    flex: 1 0 calc(32.5% - 30px); }
    @media (max-width: 991px) {
      .card:first-child {
        flex: 1 0 calc(60% - 30px); } }
    @media (max-width: 576px) {
      .card:first-child {
        flex: 1 0 calc(100% - 30px); } }
  .card:nth-child(n+2):nth-child(-n+4) {
    flex: 1 0 calc(22.5% - 30px); }
    @media (max-width: 991px) {
      .card:nth-child(n+2):nth-child(-n+4) {
        flex: 1 0 calc(40% - 30px); } }
    @media (max-width: 576px) {
      .card:nth-child(n+2):nth-child(-n+4) {
        flex: 1 0 calc(100% - 30px); } }
  @media (max-width: 991px) {
    .card, .card:nth-child(n+3):nth-child(-n+4) {
      flex: 1 0 calc(50% - 30px); } }
  @media (max-width: 576px) {
    .card, .card:nth-child(n+3):nth-child(-n+4) {
      flex: 1 0 calc(100% - 30px); } }

.grid-row,
.grid-header,
.movie-link {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #000000; }

.grid-items > p.error {
  text-align: center; }

.sort {
  cursor: pointer; }
  .sort::after {
    content: '';
    width: 0;
    height: 0;
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
    right: -9px;
    bottom: 12px; }

.grid-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600; }

.grid-row {
  margin-bottom: 10px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  bottom: 0; }
  @media (max-width: 576px) {
    .footer {
      flex-direction: column;
      height: 70px; } }

.social {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url("../images/social_sprite.png"); }
  .social-in {
    transform: rotate(-5deg);
    background-position: -100px -55px; }
    .social-in:hover, .social-in:focus {
      background-position: -100px -10px; }
  .social-fb {
    background-position: -55px -10px; }
    .social-fb:hover, .social-fb:focus {
      background-position: -10px -10px; }
  .social-bb {
    background-position: -55px -55px; }
    .social-bb:hover, .social-bb:focus {
      background-position: -8px -55px; }
