* {
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $color-dark-blue;
}

a:hover {
  font-weight: 600;
}

a:focus {
  font-weight: 600;
  color:$color-dark-blue;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.gradient-bg {
  background: $color-pink;  
  background: -webkit-linear-gradient(to right, $color-biege, $color-pink); 
  background: linear-gradient(to right, $color-biege, $color-pink); 
}


.hidden {
  display: none !important;
}

.share-popup {
  display:block;
  position: absolute;
  overflow:hidden;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $color-black; 
  transition:all 0.5ms linear;
  z-index: 2;
  background-color: $color-white;
}

.flex {
  &-1 {
    flex: 1;
  }

  &-2 {
    flex: 2;
  }

  &-5 {
    flex: 5;
  }
}

