.content-container-grid {
  display: grid;
  grid-template-columns:calc(50%  - 15px) calc(50% - 15px) ;
  grid-template-rows: 5% 
                      45%
                      30% 
                      20%;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  margin-bottom: 20px;
  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns:calc(100% - 30px);
    grid-template-rows: 10% 50% auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 0;
  }
}

.page-title {
  grid-column: 1 / 3;
  grid-row-start: 1;
  @include breakpoint(mobile) {
    grid-column: 1 / 3;
    grid-row-start: 1;
  }
}

.form {
  grid-column: 1 / 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr; 
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  &-input {
    box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: none;
    background-color: $color-white;
    border: 1px solid $color-black;
    padding: 10px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / 3;
    grid-row-start: 3;
  }
}


.name {
  grid-column: 1 / 2;
  grid-row-start: 1;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row-start: 1;
  }
}

.surname {
  grid-column: 2 / 3;
  grid-row-start: 1;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row-start: 2;
  }
}

.email {
  grid-column: 1 / 2;
  grid-row-start: 2;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row-start: 3;
  }
}

.phone {
  grid-column: 2 / 3;
  grid-row-start: 2;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row-start: 4;
  }
}

.message {
  grid-column: 1 / 3;
  grid-row-start: 3;
  resize: none;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row: 5;
    resize: none;
  }
}

.send {
  grid-column: 1 / 3;
  grid-row-start: 4;
  -webkit-appearance: none;
  box-shadow: none;
  background-color: $color-black;
  border: 1px solid $color-black;
  padding: 10px;
  @include breakpoint(tablet) {
    grid-column: 1 / 3;
    grid-row-start: 6;
  }
}

.map {
  grid-column: 2 / 3;
  grid-row-start: 2;

  img {
    width: 100%;
    height: 100%;
  }
  @include breakpoint(mobile) {
    grid-column: 1 / 3;
    grid-row-start: 2;
  }
}

.info {
  grid-column: 1 / 3;
  grid-row-start: 3;
  @include breakpoint(mobile) {
    grid-column: 1 / 3;
    grid-row-start: 4;
  }
}

.address {
  grid-column: 1 / 2;
  grid-row-start: 4;
  @include breakpoint(mobile) {
    grid-column: 1 / 3;  
    grid-row-start: 5;
  }
}

.about {
  grid-column: 2 / 3;
  grid-row-start: 4;
  @include breakpoint(mobile) {
    grid-column: 1 / 3;
    grid-row-start: 6;
  }
}
