<header class="header gradient-bg">
  <a href=# tabindex="1" class="logo"><img src="http://via.placeholder.com/40x40" alt="Logo"></a>
  <nav class="navbar">
    <ul>
      <li><a href="./index.html"  tabindex="2" class="active">Main page</a></li>
      <li><a href="./contacts.html"  tabindex="3">Contacts</a></li>
      <li><a href="./items.html"  tabindex="5">Items</a></li>
      <li><a href="#"  tabindex="4">Page 3</a></li>
      <li><a href="#"  tabindex="6">Page 4</a></li>
    </ul>
  </nav>
  <div class="burger" tabindex="7">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
  </div>
</header>

