
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  @include breakpoint(mobile) {
    flex-direction: column;
    height: 70px;
  }
}

.social {
  width: 25px; height: 25px;
  display: inline-block;
  background: url('../images/social_sprite.png');

  &-in {
    transform: rotate(-5deg);
    background-position: -100px -55px;

    &:hover,
    &:focus {
     background-position: -100px -10px;
    }
  }

  &-fb {
    background-position: -55px -10px;

    &:hover,
    &:focus {
     background-position: -10px -10px;
    }
  }
  
  &-bb {
    background-position: -55px -55px;

    &:hover,
    &:focus {
    background-position: -8px -55px;
    }
  }
}







