.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 30px;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  overflow: hidden;
}

.navbar {
  ul {
    list-style: none;
    display: flex;

    @include breakpoint(mobile) {
      flex-direction: column;
    }

    li {
      padding: 0 10px;

      @include breakpoint(mobile) {
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
        color:$color-grey;
        &:hover {
          color: $color-dark-blue;;
          font-weight: 600;
        }
        &.active {
          font-weight: 600;
          padding: 0 15px;
          @include breakpoint(mobile) {
            padding: 0;
          }
        }
      }
    }
  }
}

.burger {
  cursor: pointer;

  .burger-line {
    width: 30px;
    height: 3px;
    background-color: $color-black;
    margin-bottom: 6px;
  }
  div:last-of-type {
    margin: 0;
  }
}


