.sidebar {
  position: fixed;
  background-color: white;
  right: -190px;
  top: 100px;
  width: 200px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @include breakpoint(mobile) {
    right: -195px;
  }

  &:hover{
    right: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

   &-label {
    margin-bottom: 5px;
  }
  
  .sidebar select,
  .sidebar input {
    padding: 5px 10px 5px 5px;
  }

 

  @supports (not (-ms-ime-align:auto)) { 
    .sidebar:focus-within {
      right: 10px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}





